$block-color: #0d3052;
$color3: #85c550;


.coin-block {

    cursor: pointer;
    height: 9rem;
    background: #0d3052;
    flex: 1;
    margin: 1em 1em;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 18rem;

    .coin-img {
        display: flex;
        flex-direction: column;
        align-items: center;

        & >.name {
            margin-top: 0.5rem;
            color: $color3;
        }
    }

    img {
        max-width: 80%;
    }

    .coin-data {
        margin-left: 0.5rem;
    }
}