$color2: #6d99da;
$fs: 1em;
.course-string {
    margin: 0.3rem 0;
    display: table-row;

    .name {
        margin: 0;
        display: table-cell;
        flex: 1 2rem;
        color: $color2;
        font-weight: bold;
        font-size: $fs;
        padding-right: 1rem;
    }

    .value {
        margin: 0;
        display: table-cell;
        color: $color2;
        font-size: $fs * 0.9;
    }
}