$color2: #0c2754;
$color3: #85c550;
.currency-selector {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;

    input {
        padding: 0.5rem;
        margin: 0 1rem;
        border: none;
        font-size: 0.9rem;
        cursor: pointer;
        color:  $color3;
        background: $color2;
        outline: none;

        &.active {
            color: $color2;
            background: $color3;
        }
    }
}