$color3: hsl(93, 50%, 54%);
$color2: #6d99da;
.loader {
    border: 16px solid $color3;
    border-top: 16px solid $color2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}